.counties
{
    fill: gray;
    stroke: black;
    stroke-width: 0.1px;
}

path
{
    fill: white;
    stroke: black;
    stroke-width: 0.1px;
}

.states
{
    fill: none;
    stroke: #black;
    stroke-linejoin: round;
    stroke-width: 0.1px;
}

.sidemenuitem{
    height: 7vh;
    width: 100%;
    background-color: #5e5e5e;
    color: white;
    border-top: 1px;
    border-style:solid;
    border-radius: 0;
    font-size: 14px;
    white-space: normal;
}