.counties
{
    fill: gray;
    stroke: black;
    stroke-width: .1px;
}

path
{
    fill: white;
    stroke: black;
    stroke-width: .1px;
}

.states
{
    fill: none;
    stroke: #black;
    stroke-linejoin: round;
    stroke-width: .1px;
}

.sidemenuitem
{
    width: 100%;
    white-space:normal;
    border-radius: 2px;
    height:7.5%;

    font-size: 1.3em;
}
/**
 * tooltip css
 */
.d3-tip
{
    font-weight: bold;
    line-height: 1;

    padding: 12px;

    color: #fff;
    border-radius: 2px;
    background: rgba(0, 0, 0, .8);
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after
{
    font-size: 10px;
    line-height: 1;

    position: absolute;

    display: inline;

    box-sizing: border-box;
    width: 100%;

    content: '\25BC';
    text-align: center;

    color: rgba(0, 0, 0, .8);
}

/* Style northward tooltips differently */
.d3-tip.n:after
{
    top: 100%;
    left: 0;

    margin: -1px 0 0 0;
}
input{
    visibility: hidden;
    display: none;
    white-space: normal;
}
label{
    text-align: center;
    white-space: normal;
    padding:3px;
}